/* -- GENERAL -- */

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/pig.jfif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none !important;
    color: #fff;
    opacity: 0.6;
}

a:hover{
    opacity: 0.8;
    color: #fff;
}

label{
    color: gray;
}

select{
    text-indent: 18px !important;
    font-size: 1.2em !important; 
    font-weight: 700 !important;
    background-color: white !important;
}

/* -- LOGIN PAGE -- */

#titre{
    color: white;
    font-weight: bold;
}

.btn{
   border-radius: 12px !important;
   padding: 18px !important;
}

.btn-success{
    background-color: #87C165;
    font-weight: 700;
    font-size: 1.4em;
    width: 70%;
    margin: auto;
}

.btn-inscription{
    font-weight: 700;
    font-size: 1.4em;
    width: 70%;
    margin: auto;
}

.form-control{
    background-color: rgba(255, 255, 255,0.8);
    padding: 30px;
    color: black;
}

.form-control::placeholder{
    font-size: 1.2em;
    color: black;
    opacity: 0.8;
}

.custom-select{
    background-color: white;
    opacity: 0.8 !important;
}


.login-or {
    position: relative;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

/* -- SEPARATEUR --*/

.hr-or {
    height: 2px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background-color: gainsboro;
}
